<div class="cover">
  <div class="container" id="welcome">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>
            <b>NUESTRA CASA ES TU CASA</b>
        </h1>
        <p class="text-inverse">Viajá con Método DeROSE.</p>
        <br>
        <br>
      </div>
    </div>
    <div class="row row-centered">
      <div class="col-md-12">
        <form class="form-inline">
          <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Dropdown
                <span class="caret"></span>
            </button>
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Dropdown
                <span class="caret"></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
