body.home {
  background-image: image-url('homepic3.jpg');
}

.home-page-copy {
  text-align: center;
  bottom: 25px;
  position: absolute;
}

.home-page-copy h1 {
  color: #ffffff !important;
  font-size: 63px;
  font-family: "Lato";
}

.home-page-copy p {
  color: #ffffff !important;
  font-size: 21px;
  font-weight: 200;
  font-family: "Lato";
}

.navbar-brand.logo {
  background: image-url('logo-04.png') 0px 18px no-repeat;
  height: 200px;
  width: 182px;
  overflow: auto;
  text-indent: -10000px;
}

.navbar-brand.text {
  background-image: image-url('logo-06.png');
  background-size: 80%;
  background-repeat: no-repeat;
  width: 250px;
  overflow: auto;
  text-indent: -10000px;
}