body {
  background-image: image-url('homepic3.jpg');
}

.cover {
  padding: 0px;
}

.cover h1 {
  color: #ffffff !important;
  font-size: 63px;
}

.cover p {
  color: #ffffff !important;
  font-size: 21px;
  font-weight: 200;
}

.cover .navbar {
  position: absolute;
  top: 0px;
  width: 100%;
  border: none;
  background-color: transparent !important;
}
